<html>
    <body>
        <div class="top">
            <div class="container">
                <div class="row">
                  <div class="col-sm-6 left text-justify" style="padding-top: 5%;">
                    <div id="text" style="color: #ffbf80;">
                      <div class="display-3 font-weight-bold" style="font-family: 'Ubuntu';">About Us</div>
                      <hr style="color: blue;">
                      <div id="body" style="width: 80%; text-shadow: 2px 0px navy;">We Apex Solution as an organization provide sales and services to various computer systems including desktop, laptops and tablets. We also provide sales of various computer devices and accessories at reasonable price.</div>
                    </div>
                  </div>
                  <div class="col-sm-6 right">
                    <img src="../../assets/images/Apex.png" style="width: 90%; height:90%; ">
                  </div>
                </div>
            </div>
        </div>
        <div class="second">
          <div class="display-4 font-weight-bold text-center" style="font-family: 'Ubuntu'; color: #ffbf80;">Sales & Services</div>
          <div class="card-deck" style="padding: 4%;">
            <div class="card text-white bg-dark">
              <img class="card-img-top" src="../../assets/images/laptop-repair-back.jpg" alt="Card image cap" style="height: 15vw; object-fit: cover;">
              <div class="card-body">
                <h5 class="card-title" style="border-left: 3px solid #ffbf80; padding-left: 1%;">Laptop Sales and Services</h5>
                <p class="card-text">We provide best and 100% professional laptop service across the Chennai. We also provide various brand's laptops at reasonable price.</p>
              </div>
              <div class="card-footer bg-transparent border-light"><a href="#">Check it out</a></div>
            </div>
            <div class="card text-white bg-dark">
              <img class="card-img-top" src="../../assets/images/computer-repair-safety.jpg" alt="Card image cap" style="height: 15vw; object-fit: cover;">
              <div class="card-body">
                <h5 class="card-title" style="border-left: 3px solid #ffbf80; padding-left: 1%;">Desktop Sales and Services</h5>
                <p class="card-text">We provide best and 100% professional desktop service across the Chennai with door-step service. We also provide various brand's desktops as well as assembled one at reasonable price.</p>
              </div>
              <div class="card-footer bg-transparent border-light"><a href="#">Check it out</a></div>
            </div>
            <div class="card text-white bg-dark">
              <img class="card-img-top" src="../../assets/images/apertura-diagnosticar-problemas-PC-800x388.webp" alt="Card image cap" style="height: 15vw; object-fit: cover;">
              <div class="card-body">
                <h5 class="card-title" style="border-left: 3px solid #ffbf80; padding-left: 1%;">Computer Accessories</h5>
                <p class="card-text">We also sales various computer accessories including things like RAM, ROM, Motherboard, Speakers, etc. at best in market price.</p>
              </div>
              <div class="card-footer bg-transparent border-light"><a href="#">Check it out</a></div>
            </div>
          </div>
        </div>
        <div class="third">
          <form style="padding: 5%;">
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Your Feedback</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
    </body>
</html>
